.title {
    display: block;
    text-align: center;
    margin-top: 15px;
}

.center {
    display: block;
    text-align: center;
}

.team-img {
    width: 20px;
    height: 20px;
}

.match-card {
    width: 100%;
}