.main-card {
    width: 100%;
}

.main-title {
    text-align: center;
    margin: auto;
}

.stadium-img {
    height: 25px;
    width: 25px;
}

.player-photo {
    height: 30px;
    width: 30px;
}

.preferred-foot {
    height: 25px;
    width: 25px;
}

.fav {
    color: red;
    margin: auto;
    text-align: center;
    display: block;
    margin-top: 10px;
    font-size: x-large;
}

.normal {
    color: gray;
    margin: auto;
    text-align: center;
    display: block;
    margin-top: 10px;
    font-size: x-large;
}