.team-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.team-card {
    width: 100%;
    padding: 1% 0%;
}

.fav {
    color: red;
    margin: auto;
    text-align: center;
    display: block;
    margin-top: 10px;
    font-size: large;
}

.normal {
    color: gray;
    margin: auto;
    text-align: center;
    display: block;
    margin-top: 10px;
    font-size: medium;
}