<ion-content>
  <ion-grid>
    <ion-row>
      <ion-card class="main-card">
        <ion-row>
          <ion-col size="3">
            <ion-img class="league-img" [src]="league.logo"></ion-img>
          </ion-col>
          <ion-title class="main-text">{{league.name}}</ion-title>
        </ion-row>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-img class="card-img" [src]="champs[0].teamLogo"></ion-img>
          <ion-text class="card-text">{{champs[0].name}} - {{champs[1]}}</ion-text>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-img class="card-img" [src]="champs[2].teamLogo"></ion-img>
          <ion-text class="card-text">{{champs[2].name}} - {{champs[3]}}</ion-text>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button (click)="showPicker()">{{selectedLabel}}</ion-button>
    </ion-row>
  </ion-grid>
  
</ion-content>