<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="squad">
        <ion-label>Squad</ion-label>
      </ion-tab-button>
      
      <ion-tab-button tab="team-fixtures">
        <ion-label>Fixtures</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="team-stats">
        <ion-label>Stats</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  </ion-content>
